p {
    display: inline-block;
    margin-left: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.outer-div * {
    font-weight: bold;
}

.to-do-header,
.inner-to-do-items {
    display: grid;
    grid-template-columns: 500px 150px 100px;
    
}

.to-do-search {
    padding-left: 10px;
    height: 40px;
    width: 500px;
    border: 2px solid black;
    border-radius: 5px;
}

.js-due-date {
    height: 40px;
    width: 150px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

.add-button,
.js-button {
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 20px;
    height: 40px;
    width: 75px;
    cursor: pointer;
    margin-left: 10px;
}

.to-do-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.to-do-items * {
    margin-bottom: 10px;

}

.js-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px;

}

.inner-to-do-items {
    display: grid;
    flex-direction: row;
}

.inner-to-do-items * {
    padding: 50px;
}

.js-button {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}